version: 2.1
orbs:
  docker: circleci/docker@1.0.0
  heroku: circleci/heroku@0.0.10
  

      
workflows:
  build_and_debloy_herkou:
    jobs:
      - docker/publish:
          image: auuaa/docker-hy
          tag: 'latest'
      - heroku/deploy-via-git
