version: 2.1
orbs:
  docker: circleci/docker@1.0.0
  
workflows:
  build_and_debloy_heroku:
    jobs:
      - docker/publish:
          image: auuaa/docker-hy
          tag: 'latest'
      - heroku_deploy:
          requires:
            - docker/publish

jobs:
  heroku_deploy:
    executor: docker/machine
    steps:
      - checkout
      - run:
          name: Login to docker
          command: docker login -u $DOCKER_LOGIN -p $DOCKER_PASSWORD
      - run:
          name: Pull image and tag
          command: |
            docker pull auuaa/docker-hy
            docker tag auuaa/docker-hy registry.heroku.com/docker-hy-circleci/web
      - run:
          name: Push to heroku
          command: |
            heroku container:login
            docker push registry.heroku.com/docker-hy-circleci/web
            heroku container:release web -a=docker-hy-circleci  
  
