version: 2.1
orbs:
  docker: circleci/docker@1.0.0
  heroku: circleci/heroku@0.0.10
  
workflows:
  build_and_debloy_heroku:
    jobs:
      - publish
      - build:
          requires:
            - publish
      - heroku/deploy-via-git:
          requires:
            - build


jobs:
  publish:
    docker/publish:
          image: auuaa/docker-hy
          tag: 'latest'
  build:
    docker/build:
          image: auuaa/docker-hy
  
